/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/*======== common style ==========*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

main{
    display: flex;
   align-items: center;
   flex-direction: column;

}
.container{
    width: 870px;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
   
}
hr{
    border: 1px solid #D1D1D1;

}
/*=============== style for top player=========== */
.top-players{
    margin-bottom: 30px;
}
.section-title h2{
    color: #562EFF;
    margin-top: 10px;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 30px;
}
.player img{
    height: 56px;
    width: 56px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}


/* ========top blog starts from here ========== */
.top-blog-title{
    margin-top: 31px;
    margin-bottom: 30px;
}

.top-blog{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-row-gap: 26px;
}


.blog{
    display: flex;
}

.blog-img img{
    width: 177px;
    height: 117px;
}
.blog-info {
    margin-left: 16px;
}
.blog-info h2 {
    font-size: 20px;
}
.blog-info h3{
   
color: #9F9F9F;
}
.blog-info a{
    text-decoration: none;
}
/* course section starts from here */
.courses{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap: 24px;
}
.main-course .main-pic img{
    width: 266px;
    height: 141px;
}
.course-duration {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color:  #FFC014;
}
.fa-star.empty{
    color: #aeaeae;
}



/* -------------------
for other devices
---------------------*/
@media only screen and (max-width:688px){ 
.container{
    width: 100%;
}
.players ,.top-blog ,.courses{
    grid-template-columns: repeat(1 , 1fr);
}
.player , .blog{
    justify-content: center;

}






}

@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
       width: 100%;
    }
    .player , .blog , .courses{
        justify-content: center;
    
    }
    .players ,.top-blog ,.courses{
        grid-template-columns: repeat(2 , 1fr);
    }
}

